absl-py==0.9.0
astor==0.8.1
astroid==2.3.3
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.9.2
bleach==3.1.0
branca==0.4.2
Brotli==1.0.9
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
colorama==0.4.3
cycler==0.10.0
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==4.4.1
defusedxml==0.6.0
docopt==0.6.2
entrypoints==0.3
et-xmlfile==1.0.1
Fiona @ file:///C:/Users/user/Fiona-1.8.17-cp37-cp37m-win_amd64.whl
Flask==2.0.1
Flask-Compress==1.10.1
folium==0.12.1
gast==0.2.2
GDAL @ file:///C:/Users/user/GDAL-3.1.3-cp37-cp37m-win_amd64.whl
geopandas==0.9.0
google-auth==1.11.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
graphviz==0.13.2
grpcio==1.27.2
gunicorn==20.1.0
h5py==2.10.0
idna==2.9
imageio==2.9.0
imbalanced-learn==0.7.0
imblearn==0.0
importlib-metadata==1.5.0
ipykernel==5.1.4
ipyleaflet==0.13.6
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==4.3.21
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.16.0
Jinja2==3.0.1
joblib==0.14.1
JPype1==0.7.5
Js2Py==0.70
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyterlab-widgets==1.0.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
konlpy==0.5.2
lazy-object-proxy==1.4.3
lightgbm==2.3.0
llvmlite==0.34.0
lxml==4.5.1
Markdown==3.2.1
MarkupSafe==2.0.1
matplotlib==3.1.3
mccabe==0.6.1
mglearn==0.1.9
mistune==0.8.4
munch==2.5.0
nbconvert==5.6.1
nbformat==5.0.4
nose==1.3.7
notebook==6.0.3
numba==0.51.2
numpy==1.18.1
oauthlib==3.1.0
openpyxl==3.0.3
opt-einsum==3.2.0
packaging==20.4
pandas==1.0.0
pandocfilters==1.4.2
parso==0.6.1
patsy==0.5.1
pickleshare==0.7.5
Pillow==7.1.2
pipwin==0.5.0
plotly==5.3.1
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.3
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydotplus==2.0.2
pygame==2.0.1
pygeos==0.8
Pygments==2.5.2
pyjsparser==2.7.1
pylint==2.4.4
pyparsing==2.4.6
PyPrind==2.11.2
pyproj==2.6.1.post1
pyrsistent==0.15.7
pySmartDL==1.3.4
PySocks==1.7.1
python-dateutil==2.8.0
pytz==2019.3
pywin32==227
pywinpty==0.5.7
PyYAML==5.3
pyzmq==18.1.1
qtconsole==4.6.0
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
Rtree @ file:///C:/Users/user/Rtree-0.9.4-cp37-cp37m-win_amd64.whl
scikit-learn==0.24.0
scipy==1.4.1
seaborn==0.10.1
selenium==3.141.0
Send2Trash==1.5.0
shap==0.36.0
Shapely @ file:///C:/Users/user/Shapely-1.7.1-cp37-cp37m-win_amd64.whl
six==1.12.0
slicer==0.0.4
sodapy==2.1.0
soupsieve==2.0.1
statsmodels==0.11.1
tenacity==8.0.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.3
test2==1.0.0
testpath==0.4.4
tfgraphviz==0.0.7
threadpoolctl==2.1.0
tornado==6.0.3
tqdm==4.50.0
traitlets==4.3.3
traittypes==0.2.1
tweepy==3.8.0
typed-ast==1.4.1
tzlocal==2.1
urllib3==1.25.8
virtualenv==16.7.9
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
xgboost==1.1.1
xlrd==1.2.0
xlwt==1.3.0
zipp==2.1.0